<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>Login</title>
</head>
<body>
    <div class="container">
        <nav class="nav nav-pills navbar-expand-lg navbar-light bg-light flex-column flex-sm-row">
            <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'home' %}">Home</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'about' %}">About</a>
            <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="{% url 'login' %}">Login</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'UserCreate' %}">Register</a>
        </nav>
    </div>
    <div class="d-flex align-items-center justify-content-center">
        <form class="form-group col-lg-6 offset-lg-3" action="{% url 'UserCreate' %}" method="post">
            <h1>Login</h1>
            {% csrf_token %}
            {% for field in form%}
            <div class="fieldWrapper">
                {{ field.email }}
                {{ field.password }} <br/>
                {{ field }}
            </div>
            {% endfor %}
            <button class="button btn btn-success btn-lg" type="submit">Login</button>
            <p>Don't have an account? <a href="{% url 'UserCreate' %}">Sign up here</a>.</p>
        </form>
    </div>
</body>
</html>
